<!DOCTYPE html>
<!--  Last Published: Mon Oct 01 2018 17:14:00 GMT+0000 (UTC)  -->
<html data-wf-page="5acc151da3d3a3bb57944e33" data-wf-site="5acc151ca3d3a352a2944e2d">
<head>
  <meta charset="utf-8">
  <title>Protected page</title>
  <meta content="Protected page" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/chalk3.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Inconsolata:400,700","Poppins:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Lora:regular,italic,700,700italic"]  }});</script>
  <script src="https://use.typekit.net/ots6ast.js" type="text/javascript"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/00cico.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/Artboard-1.png" rel="apple-touch-icon">
  <style type="text/css">
.top-content
  {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>
</head>
<body>
  <div class="navigation-wrapper w-clearfix">
    <div data-ix="fade-left-on-load" class="logo-wrapper w-clearfix">
      <div data-ix="hamburger-button" class="hamburger-icon">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div><a href="index.html" class="brand-logo w-inline-block"></a></div>
    <nav data-ix="left-navigation-initial" class="left-navigation">
      <div class="navigation-fixed">
        <nav data-ix="navbar-front" class="navbar">
          <a href="index.html" data-ix="navigation-line-on-hover" class="navigation-link w-inline-block">
            <div class="nav-line-wrapper">
              <div class="text-block">Home</div>
              <div data-ix="navbar-line-initial" class="line-effect"></div>
            </div>
          </a>
          <a href="services.html" data-ix="navigation-line-on-hover" class="navigation-link w-inline-block">
            <div class="nav-line-wrapper">
              <div class="text-block">Services</div>
              <div data-ix="navbar-line-initial" class="line-effect"></div>
            </div>
          </a>
          <div data-ix="navigation-line-on-hover" class="navigation-link">
            <div class="nav-line-wrapper">
              <div data-delay="0" class="dropdown w-dropdown">
                <div data-ix="move-arrow-on-dropdown" class="dropdown-toggle w-dropdown-toggle">
                  <div data-ix="arrow-dropdown-initial" class="drop-arrow w-icon-dropdown-toggle"></div>
                  <div class="text-block">Project</div>
                  <div data-ix="navbar-line-initial" class="line-effect"></div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="project-list.html" class="dropdown-link w-dropdown-link">Our Work</a></nav>
              </div>
            </div>
          </div>
          <a href="contact.html" data-ix="navigation-line-on-hover" class="navigation-link w-inline-block">
            <div class="nav-line-wrapper">
              <div class="text-block">Contact</div>
              <div data-ix="navbar-line-initial" class="line-effect"></div>
            </div>
          </a>
        </nav>
      </div>
    </nav>
  </div>
  <div class="utility-page-wrap">
    <div class="utility-page-content w-password-page w-form">
      <form method="post" action="/.wf_auth" class="utility-page-form w-password-page">
        <h1 class="heading-11">Protected page</h1>
        <div style="display:none" class="w-password-page w-embed w-script"><input type="hidden" name="path" value="<%WF_FORM_VALUE_PATH%>"><input type="hidden" name="page" value="<%WF_FORM_VALUE_PAGE%>"></div><input type="password" name="pass" placeholder="Enter your password" maxlength="256" autofocus="true" class="text-field w-password-page w-input"><input type="submit" value="Submit" data-wait="Please wait..." class="button in-password w-password-page w-button"></form>
      <div class="w-password-page w-form-fail">
        <div>Incorrect password. Please try again.</div>
      </div>
      <div style="display:none" class="w-password-page w-embed w-script">
        <script type="application/javascript">(function _handlePasswordPageOnload() {
	  if (/[?&]e=1(&|$)/.test(document.location.search)) {
	    document.querySelector('.w-password-page.w-form-fail').style.display = 'block';
	  }
	})()</script>
      </div>
    </div>
  </div>
  <div data-ix="fade-up-1" class="footer">
    <div class="footer-wrapper">
      <div class="w-row">
        <div class="w-col w-col-2 w-col-stack">
          <div><a href="index.html" class="w-inline-block"></a></div>
        </div>
        <div class="w-col w-col-2 w-col-stack">
          <div>
            <p class="copyright"> <a href="#" class="link"></a></p>
          </div>
        </div>
        <div class="w-col w-col-2 w-col-stack"></div>
        <div class="w-col w-col-2 w-col-stack">
          <div>
            <ul class="w-list-unstyled">
              <li><a href="index.html" class="link-footer">Home</a></li>
              <li><a href="services.html" class="link-footer">Services</a></li>
              <li><a href="project-grid.html" class="link-footer">Project</a></li>
              <li><a href="contact.html" class="link-footer">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="w-col w-col-1 w-col-stack"></div>
        <div class="w-col w-col-3 w-col-stack">
          <div>
            <p class="paragraph-4">design@chalkdustconsulting.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-ix="preloader" class="preloader">
    <div class="preloader-icon"><img src="images/oval.svg" alt=""></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/chalk3.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>